* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: #cdd6f4; /* Text */
  margin: 0;
  padding: 0;
}

window#waybar {
  background: #1e1e2e; /* Base */
}

/* Workspace Buttons */
#workspaces button label{
  padding: 0 20px;
}

#workspaces button {
  background: transparent;
  color: #a6adc8; /* Subtext0 */
}

#workspaces button:hover {
  background: #313244; /* Surface0 */
}

#workspaces button.active {
  background: #89b4fa;
}
/*
#workspaces button.active label {
  color: #1e1e2e;
}
*/

#workspaces button.active label {
  color: #1e1e2e; /* Base */
}

#clock, 
#battery, 
#pulseaudio, 
#tray, 
#language {
  padding: 0 12px;
  color: #cdd6f4; /* Text */
}

/* Module accents */

#language {
  color: #89b4fa; /* Blue */
}

#pulseaudio {
  color: #a6e3a1; /* Green */
}

#pulseaudio.muted {
  color: #f38ba8; /* Pink */
}

#battery {
  color: #f9e2af; /* Yellow */
}

#battery.warning {
  color: #fab387; /* Peach */
}

#battery.critical {
  color: #f38ba8; /* Pink */
}

#clock {
  color: #94e2d5; /* Teal */
}

#tray {
  color: #bac2de; /* Subtext1 */
}

