* {
    font-family: "Fira Sans Semibold", monospace;
    font-size: 14px;
    transition: none;
}

window#waybar {
    background: #11111b;
    color: #c0caf5;
}

/* убираем контейнерные блоки */
.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    margin: 0;
    padding: 0;
}

/* делаем всё плотным */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#language {
    padding: 0 6px;
    border-radius: 0;
}

/* убираем hover-анимации */
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#pulseaudio:hover {
    color: #c0caf5;
}

/* workspace — максимально простой */
#workspaces button {
    background: transparent;
    font-size: 12px;
    color: #c0caf5;
    border: none;
    padding: 0 5px;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button:hover {
    background: transparent;
}
#clock {
    padding: 0 12px 0 6px; /* справа больше */
}
