window {
  background-color: #272727;
}
* {
  font-family: "Jetbrains Mono";
  color: #fff;
}
#scroll {
  padding: 0.5rem;
}
#input {
  background-color: #272727;
  color: #ffffff;
  outline: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
}
#inner-box {
  margin: 0.5rem;
  font-size: 1rem;
}
#img {
  margin: 10px 10px;
}
#entry {
  border-radius: 0.5rem;
}
#entry:selected {
  background-color: #424242;
  outline: none;
}
#text:selected {
  color: #ffffff;
}
